#top {
    position: fixed;
    z-index: 12;
    top: 0;

    width: 100%;
    height: 7%;

    background-color: rgba(0, 0, 0, .6);
}

#top ul {
    float: left;
}

#top #top_left,
#top_right {
    width: 50%;
    height: 100%;

    line-height: 60px;
    list-style: none;

    overflow: hidden;
}

/* top_left */
#top #top_left li {
    float: left;

    width: 10%;
    height: 100%;

    text-align: center;
    line-height: 350%;
}

#top #top_left li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;

    transition: .5s;
}

#top #top_left li a:hover {
    color: #87CEFA;
    font-size: 30px;
}

#top #top_left li a img {
    width: 50px;
    height: 45px;
}

/* top_right */
#top #top_right a {
    margin-left: 11%;
    line-height: 250%;

    color: white;

    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#top #top_right input {
    margin-top: 0.8%;
    margin-right: 1%;

    width: 80%;
    height: 70%;
    float: right;

    border-radius: 50px;
    border: 0;
    background-color: rgba(255, 255, 255, .4);

    color: white;
    font-size: 25px;
    font-weight: bold;
    text-indent: 1em;
}

#top #top_right_search {
    position: absolute;
    top: 110%;
    left: 54.5%;

    width: 5%;
    height: 600%;

    background-color: rgba(0, 0, 0, .6);
    list-style: none;
    border-radius: 12px;

    display: none;
}

#top #top_right_search li {
    margin-top: 20%;
    overflow: hidden;

    height: 19%;

    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}