#xfc {
    position: fixed;
    left: -45px;
    top: 0;

    width: 50px;
    height: 200px;
    background: white;

    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 2px 2px 10px 2px #ccc;
}

#xfc ul li {
    margin-top: 5px;

    list-style: none;
    width: 100%;
    height: 45px;
    line-height: 40px;

    transition: .3s;
}

#xfc ul a li img {
    margin-left: 4px;
    width: 40px;
}